{
    "cwd": "./src",
    "exclude": [
        "container.js",
        "app/Application.js",
        "interfaces/http"
    ],
    "reporter": [
        "cobertura",
        "html",
        "lcov",
        "text-summary"
    ]
}
